
<!--トップページ-->
<div class="css_font"><%= flash[:notice] %></div>
<div class="row my-2">
  <div class="col-6">
    <div align="center">top page左</div>
  </div>
  <div class="col-6">
    <div align="center">top page右</div>
  </div>
</div>